:root
{
	--white-color        : #ffffff;
	--black-color        : #000000;

	--gray-color         : #888C91;

	--base-color-lighter : #30CFFF;
	--base-color         : #00A6ED;
	--base-color-darker  : #0084BD;

	--unit : 0.7rem;
	--column-padding: calc(var(--unit) / 2);

	--font-size : 16pt;

	--preloading-screen-z-index: 10;
}