.users__description
{
	margin-top : 0;
}

.users__refresh
{
	margin-left : 2rem;
}

.users__content
{
	margin-top : 1.5rem;
}

.users__list
{
	border-collapse : collapse;
}

.users__list td
{
	padding-top    : 0.25em;
	padding-bottom : 0.25em;
	padding-left   : 0.5em;
	padding-right  : 0.5em;
}

.users__list td:first-child
{
	padding-left : 0;
}

.users__list tr:first-child td
{
	padding-top  : 0;
}

.user__id
{
	color      : #9f9f9f;
	text-align : center;
}

.user__delete
{
	height : auto;
}

.add-user
{
	padding : 2rem;
}

.add-user__name,
.add-user__submit
{
	display        : inline-block;
	vertical-align : top;
	font-size      : 85%;
}

.add-user__name
{
	width : auto;
	margin-right : 1rem;
}