@import "constants.scss";

// custom fonts slow down page loading

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : normal;
// 	src         : url('../fonts/PT Sans/PTS55F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-style  : italic;
// 	src         : url('../fonts/PT Sans/PTS56F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : bold;
// 	src         : url('../fonts/PT Sans/PTS75F_W.woff') format('woff');
// }

// @font-face
// {
// 	font-family : 'PT Sans';
// 	font-weight : bold;
// 	font-style  : italic;
// 	src         : url('../fonts/PT Sans/PTS76F_W.woff') format('woff');
// }

*,
*:after,
*:before
{
	box-sizing: border-box;
}

html, body, #react_markup
{
	height: 100%;
}

body
{
	margin: 0;
	overflow-y: scroll;
}

body, button, input, textarea, select
{
	// font-family : 'PT Sans';
	font-family : Arial, Sans, Helvetica;
}

// stretches .page to 100% of html
footer
{
	height: 1px;
}

img
{
	max-width: 100%;
    height: auto;
}

a:active
{
	color: $active-darker-color;
}

button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	font-weight : bold;
	color       : $active-color;

	transition: all 30ms ease-out;

	&:active
	{
		color: $active-lighter-color;
	}
}

nav
{
	padding-top:    0.4em;
	padding-bottom: 0.5em;
}

h1
{

}

a
{
	color: inherit;
}

body, button, input, textarea, select
{
	font-size   : 20pt;
}

body
{
	margin-top    : 0.5em;
	margin-bottom : 1em;
}

section
{
	margin-top    : 0.5em;
	margin-bottom : 1em;

	padding-left  : 1.8em;
	padding-right : 1.8em;
}

.menu
{
	margin-left    : 0.5em;
	margin-bottom : -0.15em !important;
}

.menu-item
{
	margin-left    : 0.4em;
	margin-right   : 0.4em;

	padding-bottom : 0em;

	border-bottom-width : 0.12em;
	border-bottom-color : transparent;
	border-bottom-style : solid;
}

.menu-item-selected
{
	border-bottom-color : $active-color;
}

header
{
	padding-top: 0.5em;
	padding-bottom: 0.5em;

	padding-left: 1.0em;
	padding-right: 1.0em;
}