@import "../styles/common";

.menu
{
	margin  : 0;
	padding : 0;
	list-style-type : none;
}

.menu-list-item
{
	display : inline-flex;
	align-items : center;

	margin-left  : calc(var(--unit) * 2);
	margin-right : calc(var(--unit) * 2);

	// For XS screens.
	@mixin xs
	{
		margin-left  : calc(var(--unit) * 1);
		margin-right : calc(var(--unit) * 1);
	}

	&:first-child
	{
		margin-left : 0;
	}

	&:last-child
	{
		margin-right : 0;
	}
}

.menu-item
{
	display : inline-flex;
	align-items : baseline;

	padding-bottom : 0;

	border-bottom-width : 0.12em;
	border-bottom-color : transparent;
	border-bottom-style : solid;

	text-decoration : none;

	&:first-child
	{
		margin-left : 0;
	}

	&:last-child
	{
		margin-right : 0;
	}
}

.menu-item--selected
{
	border-bottom-color : var(--base-color);
}

.menu-item__icon
{
	position : relative;
	bottom   : -0.1em;

	width  : calc(var(--unit) * 2.5);
	height : calc(var(--unit) * 2.5);

	margin-right : var(--unit);

	// For XS screens.
	@mixin xs
	{
		width  : calc(var(--unit) * 1.5);
		height : calc(var(--unit) * 1.5);

		margin-right : calc(var(--unit) * 0.5);
	}
}

.menu-item__icon--home
{
	path
	{
		stroke : var(--black-color);
		fill   : var(--black-color);
	}
}

.menu-item__icon--users
{
	path, circle
	{
		stroke : var(--black-color);
	}
}

.menu-item--selected
{
	.menu-item__icon--home
	{
		path
		{
			stroke : var(--base-color);
			fill   : var(--base-color);
		}
	}

	.menu-item__icon--users
	{
		path, circle
		{
			stroke : var(--base-color);
		}
	}
}