:root
{
	--white-color        : #ffffff;
	--black-color        : #000000;
	
	--gray-color         : #888C91;

	--base-color         : #00A6ED;
	--base-color-darker  : #0084BD;
	--base-color-lighter : #30CFFF;

	--unit : 0.3rem;

	--font-size : 18pt;
}