// Shows javascript-powered components
// and hides javascriptless (fallback) components
body.javascript-is-enabled
{
  .rrui__rich__fallback
  {
    display: none !important;
  }
}

// Hides javascript-powered components
// and shows only javascriptless (fallback) components
body:not(.javascript-is-enabled)
{
  .rrui__rich
  {
    > *:not(.rrui__rich__fallback)
    {
      display: none !important;
    }
  }
}