@import "constants.scss";
@import "isomorphic.scss";

@import "../../src/components/Menu.scss";
@import "../../src/components/Preloading.scss";

@import "../../src/pages/Home.scss";
@import "../../src/pages/Layout.scss";
@import "../../src/pages/Not found.scss";
@import "../../src/pages/Users.scss";

body
{
	margin     : 0;
	overflow-y : scroll;
}

body, button, input, textarea, select
{
	font-family : Arial, Helvetica, Sans;
	font-size   : var(--font-size);
}

button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	font-weight : bold;
	color       : var(--base-color);

	transition: all 30ms ease-out;

	&:active
	{
		color: var(--base-color-ligher);
	}
}

nav
{
	padding-top    : calc(var(--unit) * 1);
	padding-bottom : calc(var(--unit) * 1);
}

a
{
	color: inherit;
}

a:active
{
	color: var(--base-color-darker);
}

body
{
	margin-top    : calc(var(--unit) * 1);
	margin-bottom : calc(var(--unit) * 2);
}

section
{
	padding-left  : calc(var(--unit) * 14);
	padding-right : calc(var(--unit) * 14);
}

header
{
	padding-top    : calc(var(--unit) * 10);
	padding-bottom : calc(var(--unit) * 10);
	padding-left   : calc(var(--unit) * 8);
	padding-right  : calc(var(--unit) * 8);
}
