@import "constants.scss";

@import "../../src/components/Menu.scss";
@import "../../src/components/Preloading.scss";

@import "../../src/pages/Error.scss";
@import "../../src/pages/Home.scss";
@import "../../src/pages/Layout.scss";
@import "../../src/pages/NotFound.scss";
@import "../../src/pages/Users.scss";

body
{
	margin     : 0;
	overflow-y : scroll;
}

body, .button, input, textarea, select
{
	font-family : Arial, Helvetica, Sans;
	font-size   : var(--font-size);
}

.button
{
	background : none;
	border     : none;
	outline    : none;
	padding    : 0;

	transition: all 30ms ease-out;

	&:active
	{
		color: var(--base-color-lighter);
	}
}

nav
{
	padding-top    : calc(var(--unit) * 1);
	padding-bottom : calc(var(--unit) * 1);
}

a
{
	color: inherit;
}

a:active
{
	color: var(--base-color-darker);
}

body
{
	margin-top    : calc(var(--unit) * 1);
	margin-bottom : calc(var(--unit) * 2);
}

section
{
	padding-left  : calc(var(--unit) * 14);
	padding-right : calc(var(--unit) * 14);
}

header
{
	padding-top    : calc(var(--unit) * 5);
	padding-bottom : calc(var(--unit) * 5);
	padding-left   : calc(var(--unit) * 4);
	padding-right  : calc(var(--unit) * 4);
}

.rrui__input
{
	height : calc(var(--unit) * 9);
}

.rrui__text-input__input:focus
{
	border-color : var(--base-color);
}

.rrui__text-input__input:focus + .rrui__input-label
{
	color : var(--base-color);
}

.rrui__text-input__input--empty:focus + .rrui__input-label--floating
{
	color : var(--gray-color);
}

.rrui__button
{
	color : var(--base-color);

	&:active
	{
		color : var(--base-color-lighter);
	}
}

.rrui__button--border
{
	color         : var(--base-color);
	border        : 0.15em solid var(--base-color);
	border-radius : 0.4em;

	&:active
	{
		color            : var(--white-color);
		background-color : var(--base-color);
	}

	.rrui__button__button
	{
		padding-left  : calc(var(--unit) * 4);
		padding-right : calc(var(--unit) * 4);
	}
}

.rrui__text-input__input
{
	border-top-width   : 0;
	border-left-width  : 0;
	border-right-width : 0;
	outline            : none;
}

.rrui__input-error
{
	margin-top: calc(var(--unit) * 2);
}