.preloading
{
	position: fixed;
	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
}

.preloading--shown
{
	display: block;
	cursor: wait;

	.rrui__activity-indicator
	{
		position: absolute;
		left: calc(50% - 2rem);
		top: calc(50% - 2rem);
		width: 4rem;
		height: 4rem;

		circle
		{
			stroke: #ffffff;
		}
	}
}