.preloading
{
	position : fixed;

	top    : 0;
	left   : 0;
	right  : 0;
	bottom : 0;

	background-color : rgba(0, 0, 0, 0.08);

	z-index : 0;
	opacity : 0;

	transition : opacity 100ms ease-out, z-index 100ms step-end;

	.rrui__activity-indicator
	{
		position : absolute;
		left     : calc(50% - 2rem);
		top      : calc(50% - 2rem);
		width    : 4rem;
		height   : 4rem;
		color    : var(--white-color);
	}
}

.preloading--shown
{
	z-index : var(--preloading-screen-z-index);
	opacity : 1;

	transition : opacity 600ms ease-out 500ms, z-index 0ms step-start;

	cursor : wait;

	.rrui__activity-indicator-circle-container,
	.rrui__activity-indicator-circle
	{
		animation-delay : 500ms;
	}
}

.preloading--immediate
{
	transition-delay : 0ms;

	.rrui__activity-indicator-circle-container,
	.rrui__activity-indicator-circle
	{
		animation-delay : 0ms;
	}
}